<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            Full stack software engineer with an entrepreneurial heart; experience in Node, React, Express, MySQL, PostgreSQL, MariaDB, Cassandra, and more.
            I've worked on various open source projects, ranging from full-stack web-applications serving local events to users based
            on calendar availability to machine-learning models built on tensorflow.js.
            Team projects have followed agile workflow, using git for version control, ticketing tools such as Jira and Trello, and standups for collaboration.
            My passion is in front-end development using React; I love watching visions come to life on the screen.
            I've used frameworks such as Material-UI, React-Bootstrap, and Angular as well.
        </p>
        <p>
           I love the process of building things.
           I really enjoy deep diving into algorithmic problems, but connecting with a user's vision
           so I can bring it to life is what keeps me most interested in development.
           I'm searching for a full-stack or front-end engineering role where I can immerse myself in
           collaborative, agile-driven team efforts in a fast-paced environment that allows me to learn
           new methods of development architecture while building ground-breaking software.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
          <li>
            Used Drupal to build a ground-up e-commerce platform in a startup that I co-founded. Modified plugins with PHP across years
            of version changes - both on our side and the open-sourced plugins' sides. Styled with raw CSS and a little Bootstrap.
          </li>
    			<li>
            Migrated a monolothic e-commerce Heroku React app to microservice architecture 
            hosted on AWS. 
    			</li>
          <li>
            Built an object detection model on Tensorflow.js using Javascript; used in a live object-detection toy app using webcam feed.
          <li>
            Collaborated with a team to build a React/Node application to serve event API data to users based on their free time, using
            Google Calendar and Google O-Auth. Allows users to preference event categories, location, and add to their calendar. Used agile
            workflow and git for version control. Hosted on AWS.
    			<li>
            Optimized a back-end for a React/Node carousel microservice on an e-commerce site, improving query speeds by nearly 95%.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
