<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3 style="margin-top:0;">Bio</h3>
        <p>
          Charles is a full-stack software engineer and currently works as a security cloud developer for the IBM Cloud
          Garage.
          He uses modern techniques to develop enterprise-grade solutions for clients on the cloud.
        </p>
        <p>
          Charles is experienced in building solutions using hybrid multi-cloud platforms, following Agile DevSecOps
          principles.
          He is skilled in Python, Javascript, React, Node, container security, IBM Cloud, GCP, Azure, and AWS.
        </p>
        <p>
          Outside of the office, Charles enjoys traveling, powerlifting, reading, and trading.
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0;">Highlights</h3>
        <ul>
          <li>
            Spent 7 years building a drupal e-commerce platform from the ground-up, acting as lead technologist and
            business management consultant.
          </li>
          <li>
            Developed an enterprise sales enablement gamification platform with an integrated CMS,
            allowing users to create, access, and update game instances and user access control in a codeless
            environment.
            Used by tens of thousands of employees.
          </li>
          <li>
            Built an object detection model on Tensorflow.js using Javascript & React; used in a live object-detection
            mobile-ready web app.
          <li>
            Developed a highly modular and accurate security threat data generator used in a spectrum
            of enterprise-grade security products;
            useful to sales engineers running demos for clients that withold the structure of the data
            that they would like to be secured. Utilized with clients such as Department of Homeland Security and
            Proctor
            & Gamble.
          <li>
            Optimized the back-end for a microservice on an e-commerce site, improving query speeds by nearly 95%.
            Handles tens of millions of records with loading times maintaining < 2 seconds. </li>
        </ul>
      </div>
    </div>
  </div>
</section>