<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
        <h3 style="margin-top:0;">Bio</h3>
    		<p>
            Charles is a full-stack software engineer and currently works as a cloud developer for IBM Cloud Garage.
            He uses modern techniques to develop enterprise-grade solutions for clients on the cloud.
        </p>
        <p>
            Charles is experienced in building solutions using hybrid multi-cloud platforms, following DevSecOps practices and Agile methodology.
            He is skilled in Javascript, Node, React, Deno, C#, and Python.
        </p>
        <p>
            Outside of the office, Charles enjoys traveling, rock climbing, trying restaurants, and making apps.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
          <li>
            Co-Founder & developer on an e-commerce startup for 7 years; constructed the e-commerce platform using Drupal & PHP.
          </li>
    			<li>
            Migrated a large-scale monolothic e-commerce Node/React application to microservice architecture.
    			</li>
          <li>
            Built an object detection model on Tensorflow.js using Javascript & React; used in a live object-detection mobile-ready web app.
          <li>
            Collaborated with a remote team to build a single-page React/Node application to serve event API data to authenticated users based on their free time, hooking into 
            Google Calendar. Users preference event categories, location, and manipulate events on their calendar. 
            Lists filter local events in Austin, TX. https://cityscout.io
    			<li>
            Optimized the back-end for a product carousel microservice on an e-commerce site, improving query speeds by nearly 95%.
            Handled tens of millions of records, with loading times in under 2 seconds.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
