<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ul>
          <li>
            <b>Cloud, AI, & Health</b>. Coming from a background in neuroscience, I'm excited to watch the gap between
            technology and health shrink as AI & ML improve on distributed systems.
          </li>
          <li>
            <b>IoT</b>. I've built a private cloud on a raspberry pi cluster and automated most of my home; I enjoy
            experimenting with hardware and cloud tech.
          </li>

        </ul>
      </div>
      <div class="col-sm-6">

        <ul>
          <li>
            <b>Fitness & Outdoors</b>. Outside of development, I enjoy rock climbing, hiking, and powerlifting. After
            discovering my mild scoliosis, I've made an effort to build strength for life.
          </li>
          <li>
            <b>Food & coffee</b>. Texas offers a variety of southern fusion restaurants and coffee roasters. I'm working
            on a web tool for specialty roasters and coffee makers to organize their craft.
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>