<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
		 <b>Cloud, AI, & Health</b>. I'm enthusiastic about the rapid development in machine learning on cloud platforms. I'm
		  optimistic that we're preparing to see some positive shifts in health infrastructure and technology, and hope to be a part of them.
			  </li>
			  <li>
		  <b>IoT</b>. A topic that I'm happy to fill my leisure time with is tinkering with and learning about IoT.
		  I've automated many aspects of my home, built a private cloud storage, and made much of my controls accessible from anywhere with a network.
			  </li>
			  <li>
				  <b>Music</b>. Living in Austin affords me the opportunity to be exposed to an amazing spectrum of talented artists and music events.
				  In some of my free time, I try to translate some of my skills into learning about music production.
	  </li>
			</ul>
		</div>
    <!-- <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          CityScout.io is an open-sourced local-event finder that uses Google O-Auth and Google Calendar to find events that fit the free time of users within their
          area. Its source is available on github, and was built by a team of 9 talented engineers in less than two weeks.
    		</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Avid lacrosse player, powerlifter, and coffee lover.
  			</li>
  			<li>
  			  You can usually find me working at Capital Factory or Galvanize in downtown, Austin, TX.
  			</li>
		   </ul>
      </div> -->
    </div>
  </div>
</section>
