<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
			<ul>
			  <li>
		 <b>Cloud, AI, & Health</b>. I'm enthusiastic about the rapid development in machine learning on cloud platforms. I'm
		  optimistic that we're preparing to see some positive shifts in health infrastructure and technology, and hope to be a part of them.
			  </li>
			  <li>
		  <b>IoT</b>. A topic that I'm happy to fill my leisure time with is tinkering with and learning about IoT.
		  I've automated many aspects of my home, built a private cloud storage, and made much of my controls accessible from anywhere with a network.
			  </li>
			  
			</ul>
		</div>
    <div class="col-sm-6">

		  <ul>
			<li>
				<b>Music</b>. Living in Austin affords me the opportunity to be exposed to a colorful spectrum of talented artists and music events.
				In some of my free time, I try to translate my skill into learning about music production.
	</li>
  			<li>
				<b>Food</b>. Texas also happens to offer a diversity of fantastic restaurants, and I aim to experience as many as I can-- from local hole-in-the-walls
				to the nationally-renowned. It's a hobby of mine to attempt re-creating my favorite dishes. 
    		</li>
  		    </ul>
  		    
      </div>
    </div>
  </div>
</section>
